h1 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: lighter;
	font-size: 3em;
	margin: 0px;
	text-align: right;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: lighter;
	margin: 0px;
	text-align: right;
}

h2 {
	font-family: 'Julius Sans One', sans-serif;
	font-weight: lighter;
	margin: 0px;
}

p {
	font-family: 'Raleway', sans-serif;
	text-align: center;
	font-size: 18px;

}

img {
	width: 100%;
	height: auto;
	display: block;
}

body {
	color: #7d97ad;
}

#app-shell {
	margin: auto;
}

#hr {
	height: 4px;
	border: none;
	background-color: #7d97ad;
}

#images {
	width: 100%;
	display:inline-flex;
	flex-wrap: wrap;
}

#featured-txt {
	display: block;
	font-size: 1em;
	margin-bottom: 8px;
}

#img-title {
	color: #2d3c49;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}

#img-title2 {
	color: #2d3c49;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}

#img-title3 {
	color: #2d3c49;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
}

#img-link1 {
	align-content: center;
}

#img-link2 {
	text-align: center;
}

#img-link3 {
	text-align: center;
}


* {
  box-sizing: border-box;
}

.img-container {
  float: none;
  width: 33.33%;
  padding: 10px;

}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.box {
	box-sizing: border-box;
}

.header {
	overflow: auto;
  padding: 0px;
	width: 100%
}

.header a.logo {

}

.header-right {
	float: right;
}

.logo {
	float: left;

}


.uppercase {
	text-transform: uppercase;
	font-family: 'Julius Sans One', sans-serif;
	font-weight:bold;
	margin: 8px;
}

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-flow: row wrap;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}


@media screen and (max-width: 375px) {
  .header a {
    display: inline-flex;
    text-align: center;
		vertical-align: middle;
  }
	.header-right {
    float: none;
  }

	.header {
		vertical-align: middle;
		align-items: center;

	}

	.logo {
		float: none;
	}

	h1 {
		font-size: 40px;
		text-align: center;
	}

	h3 {
		font-size: 20px;
		text-align: center;
	}

	p {
		font-size: 15px;
		text-align:  center;
	}

}

@media all and (min-width: 768px) {
	.header { flex: auto;}
}

body {
  padding: 1em;
}
